In [27]:
import pandas as pd
import numpy as np

In [28]:
clim = pd.read_csv('min_max_rain.csv')
min_temp = clim['min_temp']
max_temp = clim['max_temp']
rain = clim['rain']
n = clim.shape[0]
clim

       Year  Month  Day  max_temp  rain  min_temp
0      1955      3    1      27.2   0.0      11.7
1      1955      3    2      28.8   0.0      14.3
2      1955      3    3      28.8   0.0      15.5
3      1955      3    4      22.7   0.0      17.0
4      1955      3    5      21.6   0.0      11.3
...     ...    ...  ...       ...   ...       ...
24171  2021      5    4      18.3   0.0       9.1
24172  2021      5    5      18.1   0.0       7.1
24173  2021      5    6      22.2   0.0       8.2
24174  2021      5    7      21.8   0.0      12.0
24175  2021      5    8      19.5   0.0      11.4

[24176 rows x 6 columns]

In [29]:
rvs_min = np.random.uniform(-0.05, 0.05, size=n)
rvs_max = np.random.uniform(-0.05, 0.05, size=n)
rvs_rain = np.random.uniform(-0.05, 0.05, size=n)

In [30]:
clim['min_temp_r'] = clim['min_temp'] + rvs_min
clim['max_temp_r'] = clim['max_temp'] + rvs_max
clim['rain_r'] = clim['rain'] + rvs_rain
clim['date_index'] = clim['Year'].map(str) +'-'+ clim['Month'].map(str) +'-'+ clim['Day'].map(str)
clim.index = pd.to_datetime(clim['date_index'])
clim

            Year  Month  Day  ...  max_temp_r    rain_r  date_index
date_index                    ...
1955-03-01  1955      3    1  ...   27.164513  0.001263    1955-3-1
1955-03-02  1955      3    2  ...   28.752620 -0.016654    1955-3-2
1955-03-03  1955      3    3  ...   28.836623  0.034781    1955-3-3
1955-03-04  1955      3    4  ...   22.701057  0.011976    1955-3-4
1955-03-05  1955      3    5  ...   21.585769 -0.015816    1955-3-5
...          ...    ...  ...  ...         ...       ...         ...
2021-05-04  2021      5    4  ...   18.314146 -0.043580    2021-5-4
2021-05-05  2021      5    5  ...   18.116265 -0.010240    2021-5-5
2021-05-06  2021      5    6  ...   22.186922  0.045883    2021-5-6
2021-05-07  2021      5    7  ...   21.772692 -0.025756    2021-5-7
2021-05-08  2021      5    8  ...   19.517607  0.033503    2021-5-8

[24176 rows x 10 columns]

In [31]:
del clim['Year']
del clim['Month']
del clim['Day']
del clim['date_index']
clim

            max_temp  rain  min_temp  min_temp_r  max_temp_r    rain_r
date_index
1955-03-01      27.2   0.0      11.7   11.666000   27.164513  0.001263
1955-03-02      28.8   0.0      14.3   14.300569   28.752620 -0.016654
1955-03-03      28.8   0.0      15.5   15.451508   28.836623  0.034781
1955-03-04      22.7   0.0      17.0   16.983898   22.701057  0.011976
1955-03-05      21.6   0.0      11.3   11.344708   21.585769 -0.015816
...              ...   ...       ...         ...         ...       ...
2021-05-04      18.3   0.0       9.1    9.134455   18.314146 -0.043580
2021-05-05      18.1   0.0       7.1    7.145748   18.116265 -0.010240
2021-05-06      22.2   0.0       8.2    8.150175   22.186922  0.045883
2021-05-07      21.8   0.0      12.0   12.037593   21.772692 -0.025756
2021-05-08      19.5   0.0      11.4   11.414764   19.517607  0.033503

[24176 rows x 6 columns]

In [95]:
x=0
for ra in clim['rain_r'].items():
    if ra[1] < 0.05:
        clim.loc[ra[0], 'rain_r'] = 0
clim

            max_temp  rain  min_temp  min_temp_r  max_temp_r  rain_r
date_index
1955-03-01      27.2   0.0      11.7   11.666000   27.164513     0.0
1955-03-02      28.8   0.0      14.3   14.300569   28.752620     0.0
1955-03-03      28.8   0.0      15.5   15.451508   28.836623     0.0
1955-03-04      22.7   0.0      17.0   16.983898   22.701057     0.0
1955-03-05      21.6   0.0      11.3   11.344708   21.585769     0.0
...              ...   ...       ...         ...         ...     ...
2021-05-04      18.3   0.0       9.1    9.134455   18.314146     0.0
2021-05-05      18.1   0.0       7.1    7.145748   18.116265     0.0
2021-05-06      22.2   0.0       8.2    8.150175   22.186922     0.0
2021-05-07      21.8   0.0      12.0   12.037593   21.772692     0.0
2021-05-08      19.5   0.0      11.4   11.414764   19.517607     0.0

[24176 rows x 6 columns]